@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --blue: rgb(87, 87, 221);
  --black: #444;
  --light-color: #777;
  --bg-color: #e6e6e6;
  --border: 0.1rem solid rgba(0, 0, 0, 0.2);
  --box-shadow: 0.4rem 0.4rem 1rem #ccc, -0.4rem -0.4rem 1rem #fff;
  --box-shadow-inset: 0.4rem 0.4rem 1rem #ccc inset,
    -0.4rem -0.4rem 1rem #fff inset;
  --box-shadow-inset1: 0.4rem 0.4rem 1rem rgb(76, 110, 150) inset,
    -0.4rem -0.4rem 1rem rgb(73, 90, 161) inset;
  --box-shadow-inset2: 0.4rem 0.4rem 1rem rgb(85, 80, 80) inset,
    -0.4rem -0.4rem 1rem rgb(44, 43, 43) inset;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: var(--bg-color);
  padding-left: 30rem;
}

body.active {
  --black: #fff;
  --light-color: #ddd;
  --bg-color: #222;
  --border: 0.1rem solid rgba(0, 0, 0, 0.4);
  --box-shadow: 0.4rem 0.4rem 1rem #111, -0.4rem -0.4rem 1rem #333;
  --box-shadow-inset: 0.4rem 0.4rem 1rem #111 inset,
    -0.4rem -0.4rem 1rem #333 inset;
}

section {
  min-height: 30vh;
  padding: 2rem;
}

.heading {
  text-align: center;
  font-size: 5rem;
  color: var(--black);
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.heading span {
  color: var(--blue);
  text-transform: uppercase;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: var(--bg-color);
  width: 30rem;
  border-right: var(--border);
  height: 100%;
  padding: 2rem;
  text-align: center;
}
.header .navbar {
  margin-top: 200px;
}

.header .navbar a {
  display: block;
  margin: 1.5rem 0;
  padding: 0.7rem;
  border-radius: 5rem;
  font-size: 2rem;
  box-shadow: var(--box-shadow);
  color: var(--black);
}

.header .navbar a:hover {
  box-shadow: var(--box-shadow-inset);
  color: var(--blue);
}

#menu-btn {
  position: fixed;
  top: 1.5rem;
  left: 2rem;
  z-index: 1000;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  text-align: center;
  color: var(--black);
  background: var(--bg-color);
  display: none;
}

#menu-btn:hover {
  color: var(--blue);
  box-shadow: var(--box-shadow-inset);
}

#theme-toggler {
  position: fixed;
  top: 1.5rem;
  right: 2rem;
  z-index: 1000;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  text-align: center;
  color: var(--black);
  background: var(--bg-color);
}

#theme-toggler:hover {
  color: var(--blue);
  box-shadow: var(--box-shadow-inset);
}
.image {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.image img {
  width: 150px;
  height: 150px;
  border-radius: 100px;
}
.home {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.home .content h3 {
  font-size: 7rem;
  color: var(--black);
  line-height: 1.1;
}

.home .content p {
  font-size: 2rem;
  color: var(--black);
  padding-bottom: 0.5rem;
}

.home .share {
  position: relative;
  top: 2rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  padding: 1rem;
}

.home .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  box-shadow: var(--box-shadow);
  margin: 0.5rem;
  font-size: 2rem;
  color: var(--black);
  border-radius: 0.5rem;
}
.name {
  color: var(--blue);
  font-size: 20px;
  font-weight: 650;
}
.home .share a:hover {
  box-shadow: var(--box-shadow-inset);
}

.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.about .row .content {
  flex: 1 1 40rem;
}

.about .row .content p {
  font-size: 2rem;
  color: var(--black);
  padding: 1rem 0;
}

.about .row .progress {
  width: 100%;
}

.about .row .progress h3 {
  color: var(--black);
  font-weight: normal;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about .row .progress .bar {
  box-shadow: var(--box-shadow);
  width: 100%;
  border-radius: 5rem;
  height: 2rem;
  padding: 0.5rem;
  margin: 1rem 0;
}

.about .row .progress .bar span {
  display: block;
  height: 100%;
  background: var(--blue);
  border-radius: 5rem;
}

.project p {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 15px;
}

.contact form {
  margin: 1rem auto;
  max-width: 70rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  padding: 2rem;
}

.contact form .box {
  padding: 1rem 1.5rem;
  width: 100%;
  background: none;
  color: var(--black);
  font-size: 1.6rem;
  text-transform: none;
  margin: 0.7rem 0;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
}

.contact form textarea {
  height: 20rem;
  resize: none;
}

.contact form .box:focus {
  box-shadow: var(--box-shadow-inset);
}

.credits {
  font-size: 2rem;
  text-align: center;
  padding: 2.5rem 1rem;
  margin-top: 1rem;
  border-top: var(--border);
  color: var(--black);
}

.credits span {
  color: var(--blue);
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3.5rem;
  border-radius: 0.5rem;
  font-size: 1.7rem;
  cursor: pointer;
  background: none;
  color: var(--blue);
  box-shadow: var(--box-shadow);
}

.btn:hover {
  box-shadow: var(--box-shadow-inset);
}

.project-con {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 2rem;
  justify-content: space-around;
}
.project-card {
  width: 35rem;
  height: 30rem;
  background-color: transparent;
  border: 1px solid var(--blue);
  color: var(--black);
  border-radius: 10px;
  padding: 1.5rem 2rem;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project-card-header {
  font-weight: 700;
  font-size: 2rem;
  color: var(--blue);
}

.project-card-img {
  width: 100%;
  height: 70%;
}
.project-card-img img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.project-card-links {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.font-icon {
  font-size: 20px;
  margin: 0 5px;
}
.go-to-github {
  width: 160px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 6px 0;
  border-radius: 6px;
  font-size: 16px;
  color: var(--blue);
  font-weight: 500;
  margin-top: 10px;
  background-color: #ccc;
}
#more {
  display: none;
}
.showMoreButton {
  padding: 5px 10px;
  cursor: pointer;
  font-weight: 500;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-left: auto;
  font-size: 18px;
}
.showMoreButton:active {
  box-shadow: none;
}

/* media queries  */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  body {
    padding-left: 0;
  }

  .header {
    left: -110%;
  }

  .header.active {
    left: 0%;
    transition: 0.4s linear;
  }

  #menu-btn {
    display: initial;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 50%;
  }
  .project-con {
    justify-content: center;
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
  }
  .project-card {
    width: 90%;
  }
  .project-card-text {
    font-weight: 400;
    font-size: 1.7rem;
  }
  .header {
    width: 100%;
    border-right: 0;
  }
}
